{% extends 'base.html.twig' %}

{% block title %}Blog Symfony | Profil{% endblock %}

{% block body %}

{% if profildata.roles.0 == 'ROLE_ADMIN'%}

    <p class="text-center text-secondary">Vous êtes administrateur du site</p>

{% endif %}
 
 <h1>Profil de {{ profildata.prenom}}{{profildata.nom}}</h1>

 {{dump(profildata.commentaire)}}

 <div class="mx-auto">

    <p><span>Nom:</span> {{ profildata.nom}}</p>
    <p><span>prenom:</span> {{ profildata.prenom }}</p>
    <p><span>adresse:</span> {{ profildata.adresse }}</p>
    <p><span>ville:</span> {{ profildata.ville }}</p>
    <p><span>codepostal:</span> {{ profildata.codepostal }}</p>
    <button><a href="{{path('app_profil_edit', {'id': profildata.id})}}">Modifier</a></button>
 </div>



 {# {% for data in profildata.article %}
 <ul>
    <li>titre: {{data.titre}}</li>
    <li>Date de publication: le {{data.date|date('d/m/Y')}} à {{data.date|date('H:i:s')}}</li>
    </ul>
 {% endfor %} #}

{% if profildata.article is not empty %}

    <h2 class="my-5 text-center">Articles publiés par {{ profildata.prenom}} {{profildata.nom}}</h2>
    <table class="table table-bordered ">
        <tr>
            <th class="text-center p-3">Titre</th>
            <th class="text-center p-3">Catégorie</th>
            <th class="text-center p-3">Date de publication</th>
            <th class="text-center p-3">Modifier</th>
        </tr>
        {% for data in profildata.article %}<tr>
            <td class="text-center p-3"><a href="{{path('blog_show', {'id': data.id})}}">{{data.titre}}</a></td>
            <td class="text-center p-3"><a href="{{path('blog_categorie', {'id': data.category.id})}}">{{data.category.titre}}</a></td>
            <td class="text-center p-3">le {{data.date|date('d/m/Y')}} à {{data.date|date('H:i:s')}}</td>
            <td class="text-center p-3"><a href="{{path('blog_edit', {'id': data.id})}}"> <span><i class="bi bi-caret-up-square"></i></span></a></td></tr>
        {% endfor %}
        
    </table>
 {% endif %}

 {% if profildata.commentaire is not empty %}
    <h2 class="my-5 text-center">commentaires publiés par {{ profildata.prenom}} {{profildata.nom}}</h2>

    <table class="table table-bordered">
        <tr>
        <th class="text-center p-3">Commentaire</th>
        <th class="text-center p-3">Date</th>
        <th class="text-center p-3">Article</th>
        </tr>

        {% for data in profildata.commentaire %}<tr>
            
                <td class="text-center p-3"><a href="{{path('blog_show', {'id': data.article.id})}}#avis">{{data.commentaire}}</a></td>
                <td class="text-center p-3">Le {{data.date|date('d/m/Y')}} à {{data.date|date('H:i:s')}}</td>
                <td class="text-center p-3"><a href="{{path('blog_show', {'id': data.article.id})}}">{{data.article.titre}}</a></td>
 
            </tr> 
        {% endfor %}
      
    </table>

     
 {% endif %}
 
 {# I can try many to one pour les commentaires (avec date publication, article, etc...) #}
 

{% endblock %}