{% extends "base_admin.html.twig" %}

{% block title %}
Blog Symfony | 
{% if editMode %}
    modification Article
    
    {% else %}
    Ajout article
{% endif %}

{% endblock %}

{% block body %}

<h1 class="text-center">
        {% if editMode %}
            Modifier un article
            {% else %}
            Ajouter un article
        {% endif %}   
</h1>

{{ form_start(formArticle)}}

    {{ form_row(formArticle.titre) }}
    {{ form_row(formArticle.contenu) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.photo) }}

    {% if photoActuelle != null %}
        <p><em>Votre photo actuelle</em>
        <img src="{{ asset('uploads/photos/' ~ photoActuelle)}}" alt="" class="col-4 img-responsive d-block">
        </p>
        
    {% endif %}

    <button>Enregistrer</button>

{{ form_end(formArticle)}}
    
{% endblock %}